extends ../layout/header
block content
  .container-left
    dl
      dt 这里是评论专区
      dd 欢迎来到青菜叶子的博客，博主做为一个前端(但不限于前端 或者说是个不纯的前端)，会把一些开发经验记录在这里。
      dd 日常工作中，个人使用云笔记的频率比博客要高出很多，在这里也推荐大家平时多用用云笔记，
      | 对个人的学习／成长都是一个不错的辅助工具，毕竟有很多记录是私有化的，并不方便公开。
      | 博主可能会在个人闲暇的时候会把笔记整理成文章分享给大家....
      dd 网站的主要功能是写博客，以及个人的一些感悟，不一定完全是技术类，包括生活方方面面。
      | 其中的随笔也大多数是笔记类型，知识积累。
      | 顺带着一个在线聊天功能，不会保存聊天记录，想体验的话，用weibo登录一下即可。
      | 目前来说，工作还是比较繁忙的，没有精力和时间，暂时不准备做评论等功能。
      | 有问题的话可以到
      | issues给我提issue，欢迎各位！下面也有我的联系方式，有问题，或者你觉得我们有同样的兴趣爱好人可以加我weixin。

include ../layout/footer