.archive
  div
    strong 分享
  div(style="margin: 3px 5px")
    .bdsharebuttonbox
      a(href="#" class="bds_more" data-cmd="more")
      a(href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间")
      a(href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博")
      a(href="#" class="bds_tqq" data-cmd="tqq" title='分享到腾讯微博')
      a(href="#" class='bds_renren' data-cmd="renren" title='分享到人人网')
      a(href="#" class='bds_weixin' data-cmd='weixin' title='分享到微信')
script.
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
.archive-latest
  div
    strong 最新感悟
  ul
    each item in data.all
      li(onclick="liJump('#{item._id}')" style="cursor:pointer")= item.title
script(type="text/javascript").
  var liJump = function (_id) {
      console.log(_id);
      if (location.href.indexOf('tag') == -1) {
        location.replace(location.origin+"/life/one?id="+_id);
      }
  }
