doctype html
html
  head
    meta(charset="utf-8")
    title 袁进的个人博客
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="baidu_union_verify",content="1c7892dcc35c0c050e543843ce226a28")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    meta(name="keywords",content="大前端，程序员，nodejs，nginx,linux，mongodb")
    meta(name="description",content="程序员技术博客")
    link(href="/css/index.css",rel="stylesheet")
    link(rel="stylesheet" href="/css/pagination.css")
    script(src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js")
    script(src="/js/jquery.pagination.js")
    script(src="/js/index.js")
    body
      //- nav.navbar
      //-   ul
      //-     li.list-item
      //-       a(href="/") 首页
      //-     li.list-item
      //-       a(href="/about") 关于我
      //-     li.list-item
      //-       a(href="/life") 生活感悟
      //-     li.list-item
      //-       a(href="/skill") 技术分享
      //-     li.list-item
      //-       a(href="/commonent") 评论
      block content
//-     <link href="/css/layout.css" rel="stylesheet">
//-     <link href="/css/program.css" rel="stylesheet">
//-     <link href="/css/common.css" rel="stylesheet">
//-     <link href="/css/plugin.css" rel="stylesheet">
//-     <link href="/css/chat.css" rel="stylesheet">
//-     <html xmlns:wb="http://open.weibo.com/wb">
//-     <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=554164338" type="text/javascript" charset="utf-8"></script>
//-     <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

//-     <script src="/js/socket.js"></script>
//-     <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

//-     <link rel="icon" href="/img/z-logo.png" type="image/x-icon"/>
//-     <script>
//-     var _hmt = _hmt || [];
//-     (function() {
//-       var hm = document.createElement("script");
//-       hm.src = "https://hm.baidu.com/hm.js?b56d58eb9b155bb93221933343a9c83d";
//-       var s = document.getElementsByTagName("script")[0];
//-       s.parentNode.insertBefore(hm, s);
//-     })();
//-     </script>

//- </head>
//- <body>

