extends layout/header
block content
  include layout/topbar
  .box
    .container
      .container-left
        p 这里是关于我的介绍
      .container-right
        include ./program/archive

include layout/footer