.sideBar
	a(href="/admin/program/add") 添加博文
	a(href="/admin/program") 管理博文
	a(href="/admin/tag") 添加标签
	a(href="/admin/life") 管理生活感悟
	a(href="/admin/life/add") 新增生活感悟
	a(href="/admin/skill") 管理技术分享
	a(href="/admin/skill/add") 新增技术分享
